html, body {
margin: 0;
padding: 0;
height: 100%;
}

footer{
background: #0b0c0d;
width: 100%;
height: 80px;
position: fixed;
bottom: 0;
left: 0;
}
.func{
	display:none;
}
.navbar-nav {
	position: absolute;
  left: 1160px;
  top: 15px;
}

.position-relative {
 	display: inline-block;
 }

main  {
    margin-top: 1%;
}